@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
 }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
 }
   @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
 }
  @else if $point == phablet {
    @media (min-width: 37.5em)  { @content ; }
 }
 @else if $point == mobileonly {
    @media (max-width: 37.5em)  { @content ; }

 }
}

.table-enter {
  opacity: 0;
  transform: rotate(0.9);
}
.table-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.table-exit {
  opacity: 1;
}
.table-exit-active {
  opacity: 0;
  transform: rotate(0.9);
  transition: opacity 300ms, transform 300ms;
}

.game {
  display: flex;
  flex-direction: column;

  .game--name {
    font-family: 'Euphoria Script', cursive;
    font-size: 50px;
    font-weight: bolder;
    color: #ff9f1c;
    text-shadow: 2px 2px darken($color: #ff9f1c, $amount: 80);
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    @include breakpoint(mobileonly) {
      padding: 5px;
    }

    &__garbage {
      font-size: 3rem;
      cursor: default;

      @include breakpoint(mobileonly) {
        font-size: 2rem;
      }
    }
  }

  &--header > button, &--header__buttons > button {
    height: 50px;
    width: 150px;
    background-color: #2ec4b6;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 5px grey;
    
    &.level-1 {
      background-color: #6adcd1;
    }

    &.level-2 {
      background-color: #ffc370;
    }

    &.level-3 {
      background-color: #ef6c7b;
    }

    @include breakpoint(mobileonly) {
      height: 30px;
      width: 48px;
      font-size: 10px;
    }

    &.secondary {
      border-color: #2ec4b6;
      background-color: #f7ede2;
    }
  }

  &--invalid-result {
    font-size: 1.5em;
    font-family: 'Zilla Slab', serif;
    color: #d34e24;
    margin-bottom: 15px;
  }

  &--game-over {
    background-color: #f7ede2;
    height: 30px;
    font-size: 1.5rem;
    font-family: 'Zilla Slab', serif;
    color: #29a8af;
    padding: 20px;
  }

  &--confetti {
    display: flex;
    justify-content: center;
  }

  &--board__table {
    margin: 15px;
    min-height: 500px;
    border: 3px solid #1c1c1c;
  }

  &--how-to-play {
    display: flex;
    flex-direction: column;
    background: #f7ede2;
    margin: 15px;
    border: 3px solid grey;
    text-align: left;
    padding: 50px;
    cursor: pointer;

    button {
      height: 50px;
      width: 150px;
      background-color: #ff9f1c;
      font-size: 1rem;
      font-weight: bold;
      margin: 10px;
      border: none;
      border-radius: 8px;
      box-shadow: 5px 5px 5px grey;
    }
  }

  .game--board--tile {
    height: 60px;
    width: 30px;
    margin: 5px;
    border: 1px solid #1c1c1c;
    background-color: #fafaff;
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: monospace;
    cursor: default;

    &.game-level-1 {
      border: 1px solid #2ec4b6;
      background-color: #6adcd1;
    }

    &.game-level-2 {
      border: 1px solid #ff9f1c;
      background-color: #ffbf69;
    }

    &.game-level-3 {
      border: 1px solid #e71d36;
      background-color: #ef6c7b;
    }

    @include breakpoint(mobileonly) {
      height: 40px;
    }

    &.has-tile {
      background-color: #83c5be;
    }

    &.has-tile__vowel {
      background-color: #f7ede2;
    }

    &.has_tile__hard_consonant {
      background-color: #d34e24;
    }

    &.currently-selected {
      box-shadow: inset 0 0px 6px 5px #000;
    }
  }

  &--footer {
    font-family: 'Zilla Slab', serif;
    margin: 30px;
    font-size: 15px;
  }
}