.MenuComponent {
  font-size: 50px;

  .MenuComponent-menu {
    display: block;
    position: absolute;
    width: 200px;
    height: 100px;
    padding: 10px;
    font-size: 25px;
    background-color: white;
    box-shadow: 12px 12px 2px 1px darkgray;

    .buttons {
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
}