.Tile-Component {
  width: 30px;
  height: 30px;
  border: black 2px solid;
  font-size: 25px;
  font-weight: bold;
  // background-color: lightgray;
  margin: 5px;

  &.vowel {
    background-color: lightblue;
  }

  &.hard {
    background-color: lightpink;
  }

  &.easy {
    background-color: lemonchiffon;
  }
}